@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: 'Poppins';
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    text-align: center;
    width: 550px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    gap: 30px;
}

h1{
    opacity: 60%;
    font-weight: 200;
    font-size: 40px;
    margin-top: 75px;
}

h2{
    font-size: 40px;
    opacity: 70%;
    font-weight: 600;
    margin-bottom: 12px;
}

h3{
    font-size: 16px;
    font-weight: 500;
    opacity: 60%;
}

h4{
    color: var(--Grey-500);
    font-size: 20px;
    font-weight: 600;
}

p{
    color: var(--Grey-400);
    font-size: 13px;
}

.super, .team, .karma, .calcul{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgb(202, 197, 197);
    padding: 35px;
    border-top: 4px solid;
}

.super{
    border-color: var(--Cyan);
}

.team{
    border-color: var(--Red);
}

.karma{
    border-color: var(--Orange);
}

.calcul{
    border-color: var(--Blue);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

img{
    float: right;
    margin-top: 50px;
}

@media screen and (max-width: 1150px){
    header{
        width: 340px;
    }
    main{
        flex-direction: column;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
    .super, .team, .karma, .calcul{
        width: 310px;
    }
}